.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.field {
    -moz-appearance: textfield;

    text-align: center;
    max-width: 90%;
    border: none;
    border-radius: 10px;
    width: 9em;
}

@media (max-width: 480px) {
    .field {
        font-size: 2rem;
    }
}

.field:focus {
    outline: none;
}